/* Frame 351962 */

position: absolute;
width: 686px;
height: 534px;
left: -156px;
top: -207px;

background: #FFFFFF;
border-radius: 0px 0px 1000px 1000px;


/* 사본 -C__Users_Administrator_Desktop_XYZ프로젝트_참고자료_2024 한화생명 온라인 이벤트 컨셉 제안(4_6월)_240221_v4 1 */

position: absolute;
visibility: hidden;
width: 472px;
height: 404px;
left: 96px;
top: 100px;

background: url(사본 -C__Users_Administrator_Desktop_XYZ프로젝트_참고자료_2024 한화생명 온라인 이벤트 컨셉 제안(4_6월)_240221_v4.png);


/* 다운로드 (58) 1 */

position: absolute;
width: 411px;
height: 565px;
left: calc(50% - 411px/2 - 0.5px);
top: 166px;

background: url(다운로드 (58).jpg);
filter: blur(25px);
